.flip-card {
  width: 350px;
  perspective: 1000px;
}
.flip-card-inner {
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}
.flip-card-back {
  border: 1px solid red;
  transform: rotateY(180deg);
}
